# plugins clone by vim-plug
nvim/plugged/
# plugins compiled by packer.nvim
nvim/plugin

# raycast extensions
raycast/

# configstore
configstore/

# yarn
yarn/

# spotify-tui
.spotify_token_cache.json
